/*body {
  margin: 0;
  padding: 0;
  background-image: url('pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Arial, sans-serif; 
}*/

body {
  display: grid;
  margin: 0;
  padding: 0;
  background-color: #000000;
  background-image: url('Logo_Hanya3.png');
  /*background-image: url('wall.jpg');*/
  /*background-size: cover; /* Scale the image to cover the entire container */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  background-position: center; /* Center the background image */
  font-family: Arial, sans-serif; /* Specify your desired font */
  align-items: center;
}

.products_place {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-content: center; /* Center both horizontally and vertically */
  padding: 20px;
}
.searched-message{
  color: #f8f8f8;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 10vh;
}

.fixed_bar{
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
    height: 40px; /* Adjust the height as needed */
    background-color: rgba(11, 11, 11); /* Set the background color as desired */
    color: #fff; /* Set the text color */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Make sure it's above other content */

  
}

.fixed_bar_content{
  color: #ddd;
}

.icons {
  display: flex;
  gap: 30px; /* Adjust the gap as needed */
}


/* Style for top bar */
.top-bar {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(11, 11, 11, 0.4); 
  margin-bottom: 70px;
}


.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  cursor: pointer;
}

.menu-bar {
  width: 24px;
  height: 3px;
  background-color: #0e0d0d;
}

.home-icon {
  font-size: 24px;
  color: #fdfdfd;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
  animation: changeBorderColor 4s infinite;
  border-radius: 50%;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;

}



.search-bar {
  display: flex;
  align-items: center;
  /*background-color: #ffffff;*/
  border: none;
  padding: 10px; 
  border-radius: 80px;
}

.search-bar input[type="text"] {
  border: none;
  outline: none;
  padding: 8px;

  height: 20px;
  border-radius: 20px; 
  margin-right: 7px;
  background-color: rgba(255, 255, 255, 0.7);
}

.search-bar button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px; /* Adjust padding for a larger button */
  cursor: pointer;
  border-radius: 4px;
}


.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  /*overflow-x: hidden;*/
  align-items: center;
}


.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(19, 19, 19, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 200px;

  /*animation: changeBorderColor 2s infinite;*/
  /*height: 70%;*/
/*  overflow: auto;*/

}

.product-card:hover {
  transform: scale(1.05); /* Add a slight scale effect on hover */
  animation: changeBorderColor 2s infinite;
}


.product-images {
  /* Style for product images */
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.product-images img {
  max-width: 100%;
  height: auto;
}

.product-details {
  margin-top: auto; /* Push the details to the bottom */
  padding-top: 10px; /* Add some padding for spacing */
}

.product-name {
  font-size: 20px;
  margin: 0;
  color: #ccc;
}

.product-price {
  font-size: 18px;
  color: #007bff;
  margin: 8px 0;
}

.product-description {
  font-size: 14px;
  color: #bebebe;
  margin: 0;
}

/* ... Previous styles ... */

.product-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.prev-btn,
.next-btn {
  font-size: 24px;
  color: #fffdfd;
  cursor: pointer;
  background-color: rgba(51, 50, 50, 0.8);
  border-radius: 50%;
  z-index: 2;
}

.next-btn {
  margin-left: 10px;
}

.prev-btn {
  margin-right: 10px;
}

/* Adjust the positioning of the carousel */
.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.image-container {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-us {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-section,
.contact-section,
.payment-section {
  padding: 20px;
  background-color: rgba(19, 19, 19, 0.9);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-section h2,
.contact-section h2,
.payment-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f8f8f8;
}

.about-section p,
.contact-section p,
.payment-section p {
  font-size: 16px;
  color: #fffefe;
}

.swiper{
  width: 80%;
  height: fit-content;

}

.swiper-slide img{
    width: 100%;
    height: 200px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: rgb(244, 255, 240);
} 

/* Styles for the modal */

.product-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
}

#overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}


.order-card {
  /*background-image: url('supeman.png');*/
  background-size: cover; /* Scale the image to cover the entire container */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
  background-position: center;
  background-color: rgba(128, 131, 132, 0.979);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  max-width: 400px;
  width: 90%;
  height: 300px;
  text-align: center;
  

}

.order-card input {
  display: block;
  margin: 10px auto;
  width: 80%;
  padding: 8px;
  border: 1px solid #bc0e8d;
  border-radius: 5px;
}

.informations{
  color: #363535;
  font-size: 32px;
}

.basket-icon {
  font-size: 35px;
  color: #fffffff9;
  cursor: pointer;
  align-items: center;
  margin-right: 10px;
  border:  solid ; /* Start with a transparent border */
  border-radius: 15px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  transition: border-color 0.3s; /* Smooth transition for border color */
  animation: jump 1s infinite alternate;
}

.basket-icon:hover {
  transform: scale(1.25);
  color: #007bff;
  animation: changeBorderColor 1s infinite; /* Apply the border color animation */
}

@keyframes changeBorderColor {
  0% {
    border-color: #ED1E79 /* Start with one color */
  }
  25%{
    border-color: #8f1176;
  }
  50% {
    border-color: #7b0995 /* Transition to another color at 50% */
  }
  75%{
    border-color: #3e1290;
  }
  100% {
    border-color: #0000FF /* End with a different color */
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-7px); /* Adjust the value for the desired jump height */
  }
}


.close-icon {
  color: #fdfdfd;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.confirm-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.section{
  /*display: grid;
  grid-column: span 10; /* Span the columns of the parent grid */
  display:flex;
  background-color: rgba(11, 11, 11, 0.7);
  gap: 20px;
  overflow-y: hidden;
  overflow-x: auto;
  padding: 20px ;
  box-sizing: border-box;
  /*border: solid #fdfcfc;*/
  /*animation: changeBorderColor 2s infinite;*/
  margin-bottom: 100px;

}

.section:hover {
  transform: scale(1.002);
  background-color: rgba(11, 11, 11, 0.9);
  /*animation: changeBorderColor 1s infinite; /* Apply the border color animation */
}

.headers{
  display: block; /* Ensures the title is on its own line */
  font-size: 24px;
  text-align: start;
  margin-left: 30px;
  color: #fff;
  /*background-color: #f0f0f0;*/

}

/* Style for the overlay */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 999;

}


#menu {
  display: none;
  position: absolute;
  background-color: #333;
  border-radius: 5px;
  padding: 5px;
}

#menu a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px;
}

/* Style for the submenu */
.submenu {
  display: none;
  position: absolute;
  background-color: #444;
  border-radius: 5px;
  padding: 5px;
  top: 0;
  left: 100%;
  width: 100px;
}